{% extends "base.html" %}

{% block title %}Expense Categories{% endblock title %}

{% block content %}
<main>
    <h1>Expense Categories</h1>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Number of Receipts</th>
            </tr>
        </thead>
        <tbody>
            {% for items in category_list %}
            <tr>
                <td> {{ items.name }} </td>
                <td> {{ items.receipts.count }} </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</main>
{% endblock content %}
